/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables, mixins, etc.. */

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}


/* General styles */

html, body {
	height: 100%;
}

body {
	background-color: #f5f5f5;
	font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

p.alert, p.notice {
	margin: 0;
}


/* Navbar/navigation styles */

.navbar {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}
.navbar-default {
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-nav > li > a {
		color: #222;
		&:hover {
			color: darken(#f1c40f, 5%);
			transition: 0.5s;
		}
	}

	.navbar-header {

		.navbar-brand {
			color: #222;
			letter-spacing: 1.4px;
		}

	}

	.dropdown-menu > li > a:hover {
		background-color: darken(#f1c40f, 5%);
		color: #fff;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken(#f1c40f, 5%);
		color: #fff;	
	}

}

.dropdown-menu > .active > a {
	background-color: #f1c40f;
	color: #fff;
}


/* Button/link styles */

.btn-custom {
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	border: 1px solid darken(#f1c40f, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#f1c40f, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	
}

#override-li {
	z-index: 999;
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	&:hover {
		text-decoration: none;
		background-color: darken(#f1c40f, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
	}

}

.book-links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;	
	}

}

/* Book styles */

.book {
	height: 350px;
	margin-bottom: 40px;
	@include background-tile;
}

.book:not(.account-books):not(.search-books) {
	margin-left: 16px;
	margin-right: 16px;
	width: 22%;
}

.account-books {
	margin-left: 15px;
	margin-right: 15px;
	width: 22%;
}

.book-show {
	height: 475px;
	width: 325px;
}

.book-info {
	@include background-tile;

	.book-title {
		margin-top: 0;
		font-size: 2em;
	}

	.avg-rating {
		font-size: 1.5em;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.number-of-reviews {
		font-size: 0.85em;
		font-style: italic;
	}

	.book-author, .book-poster {
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 10px;
		span {
			font-size: 0.80em;
		}	
	}

	.book-desc {
		font-size: 1.05em;
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 15px;
	}

}

#all-books-header h1, li:not(.filter-category):not(.sort-category):not(.not-inline) {
	display: inline-block;
}

#filter-list, #sort-list {
	padding-top: 30px;
	padding-right: 5px;
}

#filter-list a, #sort-list a {
	color: #000000;
}

#sort-list {
	padding-right: 25px;
}

#book-review {
	padding-bottom: 150px;
}

/* User styles */

.user-show {
	
	@include background-tile;
	width: 38%;

}

.user-info {

	@include background-tile;
	width: 58%;
	float: right;
}

.account-top-items {
	display: inline-block;
}

#profile-pic {
	width: 100%;
}

#booksowned, #books-signed-out {
	@include background-tile;
}

#books-top li:not(.not-inline) {
	display: inline-block;
}

#books-bottom li {
	display: inline-block;
}

#books-signed-out {
	margin-bottom: 0px;
}


/* current-category styles */

.current-category, .search-results {
	margin-bottom: 40px;
}


/* Reviews styles */

.reviews {

	@include background-tile;
	margin-top: 40px;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 2em;
	}

	.review {
		border-bottom: 1px solid gainsboro;
		margin-bottom: 15px;
		padding-bottom: 10px;

		.review-comment {
			font-size: 1.05em;
			line-height: 1.5;
		}

	}

	.new-review {
		padding-top: 8px;
	}

}

/* New Book Form styles */

.new-book-form {
	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#category_id {
		margin-bottom: 10px;
	}

	#book_book_img {
		margin-bottom: 10px;
	}

}


/* Edit Book Form styles */

.edit-book-form {

	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#book_category_id {
		margin-bottom: 10px;
	}

	#book_book_img {
		margin-bottom: 10px;
	}

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#rating-form {
		margin-bottom: 15px;

		label {
			display: block;
		}

	}

}


/* Signup/Login form styles */

.title {

	background: #007bbf;
	padding: 10px;
	text-align: center;
	color: #fff;
	border-radius: 0 0 10px 10px;

}

.submission-form {

	margin-top: 35px;
	box-shadow: 0 0 10px 1px grey;
	border-radius: 5px;
	padding-bottom: 10px;
	background: white;

}

.form-group {

	padding-left: 25px;
	padding-right: 25px;

}

.signup-select {

	padding-left: 49px;
	padding-bottom: 12px;

}

.bottom-links {

	display: inline-block;
	text-align: center;

}

.register-links {

	padding-right: 30px;

}

.register-links li {

	display: inline;
	float: right;
	padding-top: 22px;
	padding-right: 24px;

}

/* Search and navbar related styles */

.container:not(.nav-container) {
	padding-top: 10px;
}

#search-container {

  padding-top: 180px;
  width: 760;
  margin: 0 auto;
  text-align: center;

}

#logo {

  width: 640px;
  height: 120px;
  background: url(image-path('logo.png')) top left no-repeat;
  background-size: 100%;
  margin: 0 auto;

}

#query:not(.form-control):not(#small-search) {

  width: 732px;
  padding: 7px;
  margin: auto;
  margin-top: 18px;
  border: solid 1px #ccc;
  display: block;
  font-size: 16px;
  border-radius: 15px;

}

#query:not(.form-control):not(#small-search):hover {
  border-color: #aaa;
}

#search-wrapper {
	display: inline-flex;
	padding-left: 20px;
}

#small-search {
	border: 0.1em solid #ddd;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0.2em 0.5em;
	height: 36px;
	width: 360px;
}

#small-search-button {
	margin-top: -1px;
	height: 38px;
	width: 90px;
	font-size: 14px;
	border: 0.1em solid #ddd;
	background: #eee;
  	color: #808080!important;
  	border: solid 1px #fff;
  	font-family: Arial, sans-serif;
  	font-weight: bold;
  	text-decoration: none;
  	border-radius: 0 0.5em 0.5em 0;
}

input[value="Search For Books"], .advanced_search {
  background: #eee;
  color: #808080!important;
  border: solid 1px #fff;
  padding: 13px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 16px;
  text-decoration: none;
  border-radius: 7px;
}

.advanced_search {
	padding: 15px;
}

form > #search-fields {
	display: inline-block;
}

#top-of-search > #search-object1, #search-object2, #search-object3 {
	display: inline-block;
}

#search-object1 {
	vertical-align: top;
	padding-top: 14px;
	padding-left: 24px;
}

#search-object2 {
	padding-top: 22px;
	padding-left: 15px;
}

#search-object3 { 
	float: right;
}

#search-separator {
	height: 14px;
}

input[value="Search For Books"]:hover, .advanced_search:hover {
  cursor: pointer;
  background: #f8f7f6;
  border: solid 1px #ccc;
  text-decoration: none;
}

.book-in-search{
	@include background-tile;
	margin-bottom: 50px;
}

.brand {
	margin-top: 9px;
	margin-left: 12px;
	height: 38px;
	width: 176px;
}

.search-sections {
	display: inline-block;
}

.search-books {
	float: left;
	width: 320px;
}

.search-item-info {
	float: right;
	width: 65%;
}

.search-books {
	width: 285px;
}

/* Description page stylings */

#description-buttons {
	
	display: inline-block;

}

/* Fixing up some padding issues */
.row:not(.without-padding) {
	padding-bottom: 30px;
}

/* Styling footer */

#wrapper {
	min-height: 84%;
}

.site-footer {
	width: 100%;
	background-color: #222;
	color: #fff;
	margin-top: 30px;
	padding-top: 35px;
}

.footer-tags p {
	z-index: 999;
	display: inline-block;
	padding-bottom: 25px;
}

#footer-spacing {
	height: 100px;
}

/* Media Queries */
@media only screen and (max-width: 1199px) {

	.book:not(.account-books):not(.search-books) {
		width: 30%;
		margin-left: 13px;
		margin-right: 13px;
	}

	.account-books {
		width: 28%;
		margin-left: 17px;
		margin-right: 17px;
	}

	.brand {
		margin-top: 9px;
		margin-left: 9px;
		height: 34px;
		width: 154px;
	}

	#small-search {
		height: 33px;
		width: 280px;
	}

	#small-search-button {
		height: 33px;
		width: 68px;
	}

	.register-links-in-search {
		padding-right: 10px;
	}

	.register-links-in-search li {
		padding-top: 22px;
		padding-right: 10px;
	}

	.register-links-in-search li a {
		font-size: 12px;
	}

}

@media only screen and (max-width: 991px) {

	.book:not(.account-books):not(.search-books) {
		width: 37%;
		margin-left: 38px;
		margin-right: 38px;
	}

	.account-books {
		width: 40%;
		margin-left: 32px;
		margin-right: 32px;
	}

	#all-books-row {
		padding-left: 35px;
	}

	.book-in-search {
		width: 95%;
		display: block;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.brand {
		height: 30px;
		width: 136px;
	}

	.search-books {
		width: 280px;
	}

	.search-item-info {
		float: right;
		width: 50%;
	}

}

@media only screen and (max-width: 880px) {
	#search-object3:not(.display-always) {
		display: none;
	}
}

@media only screen and (max-width: 776px) {

	#logo {
		width: 482px;
	}

	.register-links {
		padding-right: 8px;
	}

	.register-links li, .register-links-in-search li {
		display: inline;
		float: right;
		padding-top: 22px;
		padding-right: 7px;
	}

	.brand {
		margin-left: 4px;
		height: 28px;
		width: 118px;
	}

	input[value="Search For Books"], .advanced_search {
		font-size: 12px;
	}

	input[value="Search For Books"] {
		padding: 10px;
	}

	.advanced_search {
		padding-top: 11px;
		padding-bottom: 12px;
	}

	#query:not(.form-control):not(#small-search) {
		margin-top: 6px;
		width: 498px;
	}

	.user-show {
		margin-left: 15px;
		width: 38%;
	}

	.user-info {
		margin-right: 15px;
		width: 50%;
	}

	.book:not(.account-books):not(.search-books) {
		display: block;
		width: 320px;
		height: 400px;
		float: none;
		margin: 0 auto;
		margin-bottom: 68px;
	}

	.search-books {
		width: 260px;
	}

	.search-item-info {
		float: right;
		width: 48%;
	}

	.account-books {
		display: block;
		width: 290px;
		margin: 0 auto;
		margin-bottom: 37px;
	}

	.book-in-search {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

}

@media only screen and (max-width: 662px) {

	.search-books {
		width: 290px;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}

	.search-item-info {
		float: none;
		width: 100%;
	}

	.search-sections {
		display: block;
	}

}

@media only screen and (max-width: 580px) {

	#logo {
		width: 412px;
	}

	.register-links {
		padding-right: 6px;
	}

	.register-links li {
		padding-top: 10px;
		padding-right: 0px;
	}

	.register-links li a {
		font-size: 12px;
	}

	#query:not(.form-control):not(#small-search) {
		margin-top: 0;
		width: 424px;
	}

	.user-show {
		display: block;
		margin: 0 auto;
		width: 62%;
		margin-bottom: 40px;
	}

	.user-info {
		display: block;
		float: none;
		margin: 0 auto;
		width: 90%;
	}

}


