<% flash.each do |name, message| %>
	<% if name == "notice" %>
		<div class="alert alert-info">
	<% elsif name == "alert" %>
		<div class="alert alert-danger">
	<% end %>
			<%= message %>
		</div>
<% end %>